@import url('https://fonts.googleapis.com/css2?family=Satisfy&family=Sixtyfour&display=swap');

body {
  font-family: 'Sixtyfour', sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

p{
  font-family: 'Satisfy', cursive;
  font-size: 25px;
  color: #333;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}

img {
  width: 50px;
}